body {
    background-color: #f0f2f5;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.card-design{
    
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  cursor: pointer;
    
}

.btn {
    border-radius: 5px; 
    opacity:0.8;
    
}