body {
    background-color: #f0f2f5;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.jumbotron {
    background: url('http://.com/800/500') no-repeat center center;
    background-size: cover;
    height: 450px;
    object-fit: cover;
}

.topcard {    
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    
  }

  .cardposition{
      padding-left:40px;
  }

  .img{
      height: 180px;
      width: 180px;
      object-fit: cover;
      border-radius: 20px;
      padding:4px;
  }

  .friends {
      display:flex;
      flex-wrap: wrap;
      padding-top: 0px !important;
      align-items:flex-start;
      padding-right:-40px;
     
  }

  .postimg {
    width:100%;
    object-fit: cover;
    border-radius: 15px;

}
.profilenav {
    margin-left:125px;
    padding-left:180px;
}

.profilenavite{
    padding-left:30px;
    padding-right:15px;
}

.navbar-collapse > .navbar-nav > .nav-item{
    padding:25px;
    color:black;
}; 

.navbar-text {
    color:black;
}

.btncls{
    padding-right:20px ;
}

#comments {
    border-radius: 25px;
    border: 2px solid lightgray;
    padding: 20px;   
    height: 15px;   
  }

  h5 {
      font-family: sans-serif;
      font-size: large;
  }

  p{
      font-size: large;
  }

   /* POST BTN DOTS*/
.editpostbtn{
    padding: 0;
  border: none;
  background: none;
  }
  
  .editpostbtn:focus,.editpostbtn:active {
    outline: none !important;
    box-shadow: none;
    color:gray;
  }
  
  .flexclass {
    display:flex;
  }
  